@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mt-5 py-5 bg-success text-white">
    <h1 class="text-white">Pubflix</h1>
    <p class="lead">Pubflix is a spoof site to show my skills in ASP.NET</p>
    <p><a href="https://www.starlimeweb.com" class="btn btn-outline-light btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Pubflix gives you a new flexible way to explore movies and the customers
            who love our movies. Based on the proprietary streaming service Netflix and 
            the largest privately owned retailer in the United States, Publix.
        </p>
        <p>
            <a class="btn btn-primary" href="https://www.starlimeweb.com">Learn more</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more movies</h2>
        <p class="pb-0 mb-0">
            Pubflix is a free online layout for movie rentals while managing movies and customers.
            This new system of managing clients, films, and admins, all in one place, is the most convenient system.
        </p>
        <div class="text-center mt-0 mb-3 pb-0">Don't get left behind!</div>
        <p><a class="btn btn-primary" href="https://www.starlimeweb.com">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leap with Alice</h2>
        <p>
            Another great service that is revolutionizing the entire education system.
            Leap with Alice brings an opportunity for creativity in the classroom, bringing
            what was never possible before, into the classroom.
        </p>
        <p><a class="btn btn-primary" href="http://leapwithalice.io">Learn more</a></p>
    </div>
</div>